#### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data=[4,8,15,16,23,42]

df=pd.Series(data)

print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

#### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd

my_list=[1,2,3,4,5,5,6,7,7,8,98]
series=pd.Series(my_list)
print(series)

0      1
1      2
2      3
3      4
4      5
5      5
6      6
7      7
8      7
9      8
10    98
dtype: int64

#### Q3. Create a Pandas DataFrame that contains the following data:

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
 Then, print the DataFrame.

In [5]:
import pandas as pd

data={"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}

df=pd.DataFrame(data)

df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

#### Ans

#### 1. DataFrame:

A DataFrame in pandas is like a table in a database or a spreadsheet. It's a 2-dimensional data structure that has rows and columns. Each column can hold different types of data (integers, strings, etc.). It's used to store and manipulate structured data.

In [6]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#### 2. Series:

A Series is like a single column from a DataFrame. It's a 1-dimensional array that can hold data of any type. It has a label for each data point, called an index. It's used to represent a single set of data, like ages or names.

Example:

In [7]:
import pandas as pd

ages = pd.Series([25, 30, 27], name='Age')
print(ages)

0    25
1    30
2    27
Name: Age, dtype: int64

#### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

#### Ans-

#### 1. head(): These functions are used to display the first few of the dataframe.

In [10]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

# Display the first 2 rows
print(df.head(2))

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

#### 2. tail() : These functions are used to display the last few of the dataframe.

In [11]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

# Display the first 2 rows
print(df.tail(2))

     Name  Age  Gender
1     Bob   30    Male
2  Claire   27  Female

#### 3. drop(): Removes columns or rows from the DataFrame.

In [12]:
# Dropping the 'Gender' column
df_without_gender = df.drop(columns='Gender')
print(df_without_gender)

     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27

#### 4. apply(): Applies a function along rows or columns of the DataFrame.

In [13]:
# Applying a custom function to calculate a derived column
df['Name_Length'] = df['Name'].apply(len)
print(df)

     Name  Age  Gender  Name_Length
0   Alice   25  Female            5
1     Bob   30    Male            3
2  Claire   27  Female            6

#### 5. sort_values(): Sorts the DataFrame based on one or more columns.

In [14]:
# Sorting by 'Age' in ascending order
sorted_df = df.sort_values(by='Age')
print(sorted_df)

     Name  Age  Gender  Name_Length
0   Alice   25  Female            5
2  Claire   27  Female            6
1     Bob   30    Male            3

#### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?


#### Ans- 
In pandas, both Series and DataFrame are mutable in nature, while Panel is not mutable.

Series: A Series is mutable, meaning you can modify the values of the elements within the Series after it has been created.

DataFrame: Similarly, a DataFrame is also mutable. You can change the values in individual cells, add or delete columns, and perform various data manipulations.

Panel: However, starting from pandas version 0.25.0, the Panel data structure has been deprecated and removed. It was replaced by the MultiIndex DataFrame, and the MultiIndex allows you to work with multiple dimensions of data. Prior to this change, Panel was mutable.

Keep in mind that mutability means the ability to modify the data in place after the object has been created.

#### Q7. Create a DataFrame using multiple Series. Explain with an example.


#### Ans- You can create a DataFrame using multiple Series by combining them together. Each Series becomes a column in the resulting DataFrame. Here's an example:

In [15]:
import pandas as pd

# Creating Series
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Creating a DataFrame using the Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

# Displaying the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female